.btn-details {
    margin-top: 5px;
}

.container {
  min-height: 100vh;
  position: relative;
  }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.center-img {
  display: flex;
  justify-content: center;
}