.btn-details {
    margin-top: 5px;
}

.container {
  min-height: 100vh;
  position: relative;
  }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.center-img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: black;
	color: #F1E132;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin: 0 auto;
  margin-top: 25%;
}